# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log

# Node.js
node_modules/
.tmp/

# Build tools
scripts/
build.ps1

# OS
Thumbs.db
.DS_Store
AppRecursosEduAlex-v0.2.1-win_x64.zip
AppRecursosEduAlex-v0.2.1-linux_arm64.zip
AppRecursosEduAlex-v0.2.1-linux_armhf.zip
.gitignore
AppRecursosEduAlex-v0.2.1-linux_x64.zip
AppRecursosEduAlex-v0.2.1-mac_arm64.zip
.gitignore
AppRecursosEduAlex-v0.2.1-mac_universal.zip
AppRecursosEduAlex-v0.2.1-mac_x64.zip
